h1 {
    color: black; /* Define a cor do texto */
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte do texto */
    font-size: 24px; /* Define o tamanho da fonte */
    font-weight: bold; /* Define a espessura da fonte como negrito */
    text-align: center; /* Centraliza o texto horizontalmente */
}

body {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    margin: 20;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#tabelaTarefas {
    margin: 0 auto;
    text-align: left;
}

#botaoAdicionar {
    margin-left: 5px;
}

button {
    margin-left: 20px;
}

/* Código CSS usado para tachar ou não o texto da tarefa quando a caixa de seleção é marcada. */
.tarefa-concluida {
    text-decoration: line-through;
}
